body {
  background-color: #666;
  p {
    background-color: #000;
  }
  h1 {
    color: red;
  }
  span {
    background-color: blue;
  }
}


.rectangle {
    width:200px;
    height:100px;
    background:orange;
}
